{#- For APP Hosting APP interface must be enabled -#}
{% macro APP_Hosting(__device.platformId, vlan_number) %}
{% if "C93" in __device.platformId %}
{#- Set up one APP port to support environment -#}
{% for interface in __interface %}
  {% if "App" in interface.portName %}
    interface {{ interface.portName }}
     switchport trunk allowed vlan {{ vlan_number }}
     switchport mode trunk
  {% endif %}
{% endfor %}
!
{#- Enable IOX functionality required for containers -#}
iox
ip http server
ip http secure-server
ip http authentication local
!
{% endif %}
{% endmacro %}
