{% include "BGP_EVPN_rev2/DEFN-VRF.j2" %}
{% include "BGP_EVPN_rev2/DEFN-ROLES.j2" %}
{% include "BGP_EVPN_rev2/DEFN-LOOPBACKS.j2" %}
{% include "BGP_EVPN_rev2/DEFN-OVERLAY.j2" %}
{% include "BGP_EVPN_rev2/DEFN-IPSEC.j2" %}
{% include "BGP_EVPN_rev2/DEFN-VNIOFFSETS.j2" %}
{% include "BGP_EVPN_rev2/DEFN-L3OUT.j2" %}
{% include "BGP_EVPN_rev2/DEFN-MCAST.j2" %}
{% include "BGP_EVPN_rev2/DEFN-NAC-IOT.j2" %}
{% include "BGP_EVPN_rev2/FUNC-OBJECT-MACROS.j2" %}
{% include "BGP_EVPN_rev2/FABRIC-VRF.j2" %}
{% include "BGP_EVPN_rev2/FABRIC-LOOPBACKS.j2" %}
{% include "BGP_EVPN_rev2/FABRIC-IPSEC.j2" %}
{% include "BGP_EVPN_rev2/FABRIC-NVE.j2" %}
{% include "BGP_EVPN_rev2/FABRIC-MCAST.j2" %}
{% include "BGP_EVPN_rev2/FABRIC-EVPN.j2" %}
{% include "BGP_EVPN_rev2/FABRIC-OVERLAY.j2" %}
{% include "BGP_EVPN_rev2/FABRIC-NAC-IOT.j2" %}

{# DEREFERENCE THE DEVICE HOSTNAME ONCE AND PASS TO EACH BUILD FUNCTION #}
{% set DEVICE_HOSTNAME = __device.hostname | default('', true) %}

{# BUILD LAYERS OF CONFIG #}
{# Step 1. VRF #}
{{ vrfDefinitionBuild(DEF_VRF, DEFN_VRF_TO_NODE, DEVICE_HOSTNAME, DEFN_LOOP_UNDERLAY, FABRIC_BGP_ASN) }}

{# Step 2. UNDERLAY AND SERVICE LOOPBACKS #}
{{ interfaceLoopbackBuild(DEFN_VRF, DEFN_VRF_TO_NODE, DEVICE_HOSTNAME, DEFN_LOOP_NAME, DEFN_LOOP_UNDERLAY, DEFN_NODE_ROLES, DEFN_LOOP_IPSEC, FABRIC_UNDERLAY, DEFN_LOOP_MCLUSTER) }}

{# Step 3. UNDERLAY IPSEC OR GRE TRANSPORT TUNNELS ONLY ON BORDERS #}
{{ interfaceTunnelBuild(DEFN_NODE_ROLES, FABRIC_IPSEC_UNDERLAY, DEFN_LOOP_IPSEC, DEFN_LOOP_NAME) }}

{# Step 4. VLANS, L2VNI AND L3VNI MAPPINGS #}
{{ nveVlanBuild(DEFN_VRF, DEFN_VRF_TO_NODE, DEVICE_HOSTNAME, L3VNIOFFSET, DEFN_LOOP_NAME) }}

{# Step 5. MULTICAST - TRM #}
{{ multicastRoutingBuild(DEFN_VRF, DEFN_VRF_TO_NODE, DEVICE_HOSTNAME, DEFN_NODE_ROLES, DEFN_LOOP_NAME, DEFN_LOOP_UNDERLAY, FABRIC_RP_ADDR, FABRIC_UNDERLAY, FABRIC_BGP_ASN, FABRIC_RP_SCOPES, ENTERPRISE_RP_SCOPES, ENTERPRISE_RP_ADDR, DEFN_L3OUT ) }}

{# Step 6. BGP EVPN PEERINGS #}
{{ evpnBuild(DEFN_VRF, DEFN_VRF_TO_NODE, DEVICE_HOSTNAME, DEFN_NODE_ROLES, DEFN_LOOP_UNDERLAY, DEFN_L3OUT, FABRIC_BGP_ASN, DEFN_LOOP_NAME, DEFN_IPSEC, DEFN_LOOP_MCLUSTER, DEFN_L3OUT_AGGREGATES ) }}

{# Step 7. BGP OVERLAYS #}
{{ overlayBuild(DEFN_VRF, DEFN_VRF_TO_NODE, DEVICE_HOSTNAME, FABRIC_BGP_ASN, DEFN_OVERLAY, DEFN_NODE_ROLES, L2VNIOFFSET) }}

{# Step 8. SECURE ACCESS PORTS #}
{{ ibnsBuild(DEFN_VRF, DEFN_VRF_TO_NODE, DEVICE_HOSTNAME, DEFN_NAC_IOT) }}

{# End of Build #}
