{## CATC: productFamily=Switches and Hubs, softwareType=IOS-XE, productSeries=Cisco Catalyst 9000 Series Virtual Switches ##}
{% set DEFN_VRF = [
  {'id':'901','name':'red', 'mdt_default':'239.190.0.1', 'mdt_data':'239.190.1.0'},
  {'id':'902','name':'blue', 'mdt_default':'239.190.0.2', 'mdt_data':'239.190.2.0'},
  {'id':'903','name':'green', 'mdt_default':'239.190.0.3', 'mdt_data':'239.190.3.0'}
  ]
%}
{# VRF TO NODE MAPPINGS #}
{# NOT ALL VRF AND VNI NEED TO BE INSTANTIATED ON ALL THE NODES IN FABRIC #}
{% set DEFN_VRF_TO_NODE = {
  'Spine-01.dcloud.cisco.com':  ['901'],
  'Spine-02.dcloud.cisco.com':  ['901'],
  'Leaf-01.dcloud.cisco.com':   ['901','902','903'],
  'Leaf-02.dcloud.cisco.com':   ['901','902','903'],
  'Border-01.dcloud.cisco.com': ['902','903'],
  'Border-02.dcloud.cisco.com': ['902','903']
} %}