{# NAMING CONVENTIONS   #}
{# L3VNI {{L3VNIOFFSET}}{{ VRF ID }} #}
{# L3VNI 50XXX #}
{# L2VNI {{L2VNIOFFSET}}+{{ VLAN ID }} #}
{# L2VNI 10XXX #}

{% set L2VNIOFFSET = 10000 %}
{% set L3VNIOFFSET = 50 %}

{# End of File #}
