{% set DEFN_NODE_ROLES =
  {
  'SPINE':  ['spine01.dcloud.cisco.com',
             'spine02.dcloud.cisco.com'],
  'RR':     ['spine01.dcloud.cisco.com',
             'spine02.dcloud.cisco.com'],
  'CLIENT': ['leaf01.dcloud.cisco.com',
             'leaf02.dcloud.cisco.com',
             'leaf03.dcloud.cisco.com',
             'border01.dcloud.cisco.com',
             'border02.dcloud.cisco.com'],
  'BORDER': ['border01.dcloud.cisco.com',
             'border02.dcloud.cisco.com']
  }
%}

{# End of File #}
