{# NAMING CONVENTION#}
{#MDT DEFAULT: 239.190.1XX.1#}
{#MDT DATA:    239.190. XX.1#}
{% set DEFN_VRF = [
  {'id':'901','name':'red', 'mdt_default':'239.190.0.1', 'mdt_data':'239.190.1.0'},
  {'id':'902','name':'blue', 'mdt_default':'239.190.0.2', 'mdt_data':'239.190.2.0'},
  {'id':'903','name':'green', 'mdt_default':'239.190.0.3', 'mdt_data':'239.190.3.0'}
  ]
%}

{# VRF TO NODE MAPPINGS #}
{# NOT ALL VRF AND VNI NEED TO BE INSTANTIATED ON ALL THE NODES IN FABRIC #}
{% set DEFN_VRF_TO_NODE = {
  'spine01.dcloud.cisco.com':  ['901'],
  'spine02.dcloud.cisco.com':  ['901'],
  'leaf01.dcloud.cisco.com':   ['901','902','903'],
  'leaf02.dcloud.cisco.com':   ['901','902','903'],
  'leaf03.dcloud.cisco.com':   ['901','902','903'],
  'border01.dcloud.cisco.com': ['902','903'],
  'border02.dcloud.cisco.com': ['902','903']
} %}

{# End of File #}
