{## CATC: productFamily=Switches and Hubs, softwareType=IOS-XE, productSeries=Cisco Catalyst 9000 Series Virtual Switches ##}
{# DEFN-IPSEC.j2 - DEPRECATED: IPSEC tunnelling removed. #}
{# Border-to-Border BGP peering now uses Loopback0 (DEFN_LOOP_UNDERLAY) directly. #}
{# FABRIC-IPSEC.j2 is disabled in BGP-EVPN-BUILD.yml. #}
{# End of File #}
