{#- General Interface Macro Section-#}
!
{#- Interface Access Macro -#}
{% macro access_interface(vlan_number) %}
  switchport access vlan {{ vlan_number }}
  switchport mode access
  snmp trap mac-notification change added
  snmp trap mac-notification change removed
  spanning-tree portfast
{% endmacro %}
!
{#- Interface Access Point Macro for AP's -#}
{% macro accesspoint(vlan_number) %} 
   description Access Point Interface
   switchport access vlan {{ vlan_number }}
   switchport mode access
   spanning-tree portfast
{% endmacro %}
!
{#- Interface FLex-Access Point Macro for Flex AP's -#}
{% macro flexaccesspoint(vlan_number, data_number, voice_number, guest_number) %} 
   description Flex Access Point Interface
   switchport mode trunk
   switchport trunk native vlan {{ vlan_number }}
   switchport trunk allowed vlan {{ vlan_number }},{{ data_number }},{{ voice_number}},{{ guest_number }}
   spanning-tree portfast trunk
{% endmacro %}
!
{#- Interface Workstations with Voice Macro -#}
{% macro workstation_interface(vlan_number, voice_number) %}
  description Workstation Interface
  switchport access vlan {{ vlan_number }}
  switchport voice vlan {{ voice_number }}
  switchport mode access
  snmp trap mac-notification change added
  snmp trap mac-notification change removed
  spanning-tree portfast
{% endmacro %}

{#- --------------------------------------------------------------- -#}

{#- AutoConf Macro Section -#}
{#- AutoConf Base Configuration Macro -#}
{% macro baseconf_interface() %}
     switchport mode access
     snmp trap mac-notification change added
     snmp trap mac-notification change removed
     source template BASE_AUTOCONF
{% endmacro %}
!
{#- Interface Access Point Template to be used with Autoconf for AP's -#}
{% macro autoconf_accesspoint(vlan_number) %} 
  template ACCESS_POINT
   description Access Point Interface
   switchport access vlan {{ vlan_number }}
   switchport mode access
   spanning-tree portfast
{% endmacro %}
!
{#- Interface FLex-Access Point Template to be used with Autoconf for Flex AP's -#}
{% macro autoconf_flexaccesspoint(vlan_number, data_number, voice_number, guest_number) %} 
  template FLEX_ACCESS_POINT
   description Flex Access Point Interface
   switchport mode trunk
   switchport trunk native vlan {{ vlan_number }}
   switchport trunk allowed vlan {{ vlan_number }},{{ data_number}},{{ voice_number}},{{ guest_number }}
   spanning-tree portfast trunk
{% endmacro %}
!
{#- Interface Workstation Template to be used with Autoconf for AP's -#}
{% macro autoconf_workstation(vlan_number, voice_number) %} 
  template WORKSTATION
   description Workstation Interface
   switchport access vlan {{ vlan_number }}
   switchport voice vlan {{ voice_number }}
   switchport mode access
   spanning-tree portfast
{% endmacro %}
!
{#- Interface Base Configuration Template to be used with Autoconf for baseconfig's -#}
{% macro autoconf_baseconfig(vlan_number) %} 
  template BASE_AUTOCONF
   description Base Config
   switchport access vlan {{ vlan_number }}
   switchport mode access
   spanning-tree portfast
{% endmacro %}

{#- --------------------------------------------------------------- -#}

{#- IBNS2.0 Macro Section -#}
{#- Interface Base Configuration IBNS2.0 Template Macro -#}
{% macro ibns_baseconf_interface() %}
  description BASE CONFIG
  switchport mode access
  snmp trap mac-notification change added
  snmp trap mac-notification change removed
  spanning-tree portfast
  spanning-tree bpduguard enable
  source template BASE_IBNS
{% endmacro %}
!
{#- Interface Access Point IBNS2.0 Template Macro -#}
{% macro ibns_accesspoint(vlan_number) %} 
  template ACCESS_POINT_IBNS
   description Access Point Interface
   switchport access vlan {{ vlan_number }}
   dot1x pae authenticator
   dot1x timeout supp-timeout 7
   dot1x max-req 3
   mab
   access-session port-control auto
   authentication periodic
   authentication timer reauthenticate server
   {#-ip access-group ACL-DEFAULT in-#}
   service-policy type control subscriber PMAP_DefaultWiredDot1xClosedAuth_MAB_1X
{% endmacro %}
!
{#- Interface FLex-Access Point IBNS2.0 Template Macro -#}
{% macro ibns_flexaccesspoint(vlan_number, data_number, voice_number, guest_number) %} 
  template FLEX_ACCESS_POINT_IBNS
   description Flex Access Point Interface
   switchport mode trunk
   switchport trunk native vlan {{ vlan_number }}
   switchport trunk allowed vlan {{ vlan_number }},{{ data_number }},{{ voice_number}},{{ guest_number }}
   dot1x pae authenticator
   dot1x timeout supp-timeout 7
   dot1x max-req 3
   mab
   access-session interface-template sticky timer 30
   access-session port-control auto
   authentication periodic
   authentication timer reauthenticate server
   {#-ip access-group ACL-DEFAULT in-#}
   service-policy type control subscriber PMAP_DefaultWiredDot1xClosedAuth_MAB_1X
{% endmacro %}
!
{#- Interface Workstation Access IBNS2.0 Template Macro -#}
{% macro ibns_workstation(vlan_number, voice_number) %} 
  template WORKSTATION_IBNS
   description Workstation
   switchport access vlan {{ vlan_number }}
   switchport mode access
   switchport voice vlan {{ voice_number }}
   dot1x pae authenticator
   dot1x timeout supp-timeout 7
   dot1x max-req 3
   mab
   access-session closed
   access-session port-control auto
   authentication periodic
   authentication timer reauthenticate server
   service-policy type control subscriber PMAP_DefaultWiredDot1xClosedAuth_1X_MAB
{% endmacro %}
!
{#- Interface Guest Access IBNS2.0 Template Macro -#}
{% macro ibns_guest(vlan_number) %} 
  template GUEST_IBNS
   description Guest Interface
   switchport access vlan {{ vlan_number }}
   switchport mode access
   dot1x pae authenticator
   dot1x timeout supp-timeout 7
   dot1x max-req 3
   mab
   access-session closed
   access-session port-control auto
   authentication periodic
   authentication timer reauthenticate server
   service-policy type control subscriber PMAP_DefaultWiredDot1xClosedAuth_1X_MAB
{% endmacro %}
!
{#- Interface Base Configuration IBNS2.0 Template Macro -#}
{% macro ibns_baseconfig(vlan_number) %} 
  template BASE_IBNS
   description BASE CONFIG
   switchport access vlan {{ vlan_number }}
   switchport mode access
   dot1x pae authenticator
   dot1x timeout supp-timeout 7
   dot1x max-req 3
   mab
   access-session closed
   access-session port-control auto
   authentication periodic
   authentication timer reauthenticate server
   service-policy type control subscriber PMAP_DefaultWiredDot1xClosedAuth_1X_MAB
{% endmacro %}
!
{#- Interface IOT Configuration IBNS2.0 Template Macro -#}
{% macro ibns_IOT(vrf.id) %} 
  template IOT_IBNS-{{vrf.id}}
   dot1x pae authenticator
   dot1x timeout tx-period 7
   dot1x timeout supp-timeout 7
   dot1x max-req 3
   dot1x max-reauth-req 3
   mab
   access-session closed
   access-session port-control auto
   authentication periodic
   authentication timer reauthenticate server
   service-policy type control subscriber NAC_IOT_PM_{{vrf.id}}
   load-interval 30
{% endmacro %}
!
{#- --------------------------------------------------------------- -#}


