{#BOOTSTRAP FOR SIMULATION#}
{# {% include "BGP_EVPN_rev2/DEFN-VRF.j2" %} #}
{# {% include "BGP_EVPN_rev2/FUNC-OBJECT-MACROS.j2" %} #}
{# {% include "BGP_EVPN_rev2/DEFN-ROLES.j2" %} #}
{# {% include "BGP_EVPN_rev2/DEFN-LOOPBACKS.j2" %} #}
{# {% include "BGP_EVPN_rev2/DEFN-VNIOFFSETS.j2" %} #}

{% macro nveVlanBuild(DEFN_VRF, DEFN_VRF_TO_NODE, DEVICE_HOSTNAME, L3VNIOFFSET, DEFN_LOOP_NAME) %}

{# Resolve the VRF objects upfront #}
{% set vrf_objs = [] %}
{{ vrf_definition(DEFN_VRF, DEFN_VRF_TO_NODE, DEVICE_HOSTNAME) }}

{# --- VLAN SECTION --- #}
! @start-ignore-compliance {#transparent mode#}
{% for vrf in vrf_objs %}
vlan {{ vrf.id }}
 name L3-VRF-CORE-{{ vrf.id }}
!
{% endfor %}
! @end-ignore-compliance

{# --- VLAN CONFIGURATION SECTION --- #}
{% for vrf in vrf_objs %}
vlan configuration {{ vrf.id }}
 member vni {{ (L3VNIOFFSET|string) + vrf.id }}
!
{% endfor %}

{# --- INTERFACE VLAN SECTION --- #}
{% for vrf in vrf_objs %}
interface Vlan{{ vrf.id }}
 description ** SVI for {{ vrf.name }} L3VNI **
 vrf forwarding {{ vrf.name }}
 ip unnumbered {{ DEFN_LOOP_NAME['UNDERLAY'] }}
 no ip redirects
 no ip unreachables
 no ip proxy-arp
 ip pim sparse-mode
 load-interval 30
 carrier-delay msec 0
 no autostate
 hold-queue 4094 in
 hold-queue 4094 out
{% endfor %}

{# --- INTERFACE NVE1 SECTION --- #}
interface nve1
 description ** NVE Interface for VXLAN **
 no ip address
 source-interface {{ DEFN_LOOP_NAME['UNDERLAY'] }}
 host-reachability protocol bgp
{% for vrf in vrf_objs %}
 member vni {{ (L3VNIOFFSET|string) + vrf.id }} vrf {{ vrf.name }}
{% endfor %}
    
{% endmacro %}

{# End of File #}
