{## CATC: productFamily=Switches and Hubs, softwareType=IOS-XE, productSeries=Cisco Catalyst 9000 Series Virtual Switches ##}
{# FABRIC-ACCESSPORT.j2 - Standalone Deploy Access Port Templates #}
{# Generates Access Port configuration for ALL VRFs #}
{% include "{{ TEMPLATE_PROJECT_NAME }}/DEFN-VRF.j2" %}
{% include "{{ TEMPLATE_PROJECT_NAME }}/DEFN-ROLES.j2" %}
{% include "{{ TEMPLATE_PROJECT_NAME }}/FUNC-OBJECT-MACROS.j2" %}
{% include "{{ TEMPLATE_PROJECT_NAME }}/DEFN-NAC.j2" %}
{% include "{{ TEMPLATE_PROJECT_NAME }}/DEFN-L2OUT.j2" %}
{% include "{{ TEMPLATE_PROJECT_NAME }}/DEFN-OVERLAY.j2" %}
{% include "{{ TEMPLATE_PROJECT_NAME }}/FABRIC-INTERFACE-MACROS.j2" %}
{# Dereference Catalyst Center magic variable #}
{% set DEVICE_HOSTNAME = __device.hostname | default('', true) %}
{# Resolve the VRF objects for this device #}
{% set vrf_objs = [] %}
{{ vrf_definition(DEFN_VRF, DEFN_VRF_TO_NODE, DEVICE_HOSTNAME) }}

{#- Configurations -#}

{#- MACRO Vlan Search Function -#}
{% set vlanArray = [] %}
{% for data in DEFN_DEFAULT_VLANS %}
  {% if data.node == DEVICE_HOSTNAME %}
    {% do vlanArray.append(vlan['id']) %}
  {% endif %}
{% endfor %}

{#- Build Interface Templates -#}

{# Build IOT IBNS Templates #}
{% set vrfArray = [] %}
{% set modeArray = [] %}
{% set intlog = [] %}

{% for device in DEFN_L2OUT %}
  {% if device.node == DEVICE_HOSTNAME %}
    {% for interface, details in device.interfaces.items() %}
      {% if details.vrf in vrfArray %}
      {% else %}
        {% if 'iot' in details.type %}
          {% do vrfArray.append(details['vrf']) %}
          {{ ibns_IOT(details['vrf']) }} 
        {% endif %}
      {% endif %}
    {% endfor %}
    {% for interface, details in device.interfaces.items() %}
      {% if details.mode in modeArray %}
      {% else %}
        {% if 'ibnsconf' in details.mode %}
           {% do modeArray.append(details['mode']) %}
          {{ ibns_accesspoint(vlanArray[1]) }} 
          {{ ibns_workstation(vlanArray[2], vlanArray[3]) }} 
          {{ ibns_baseconfig(vlanArray[1]) }} 
        {% endif %}
        {% if 'autoconf' in details.mode %}
          {% do modeArray.append(details['mode']) %}
            {{ autoconf_accesspoint(vlanArray[1]) }}
            {{ autoconf_workstation(vlanArray[2], vlanArray[3]) }}
            {{ autoconf_baseconfig(vlanArray[1]) }}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

{#- Interface Configurations -#}
{% set intlog = [] %}

{# Routed Ports and SmartPort Config if used #}
{% for interface in __interface %}
  {% if interface.interfaceType == "Physical" && "GigabitEthernet" in interface.portName.replaceAll("(^[a-zA-Z]+).*","$1") %}
    {% if interface.portName.replaceAll("(^[a-zA-Z]+.).*", "$1") != "GigabitEthernet0" %}
      {% if interface.portName.replaceAll("^[a-zA-Z]+(\\d+)/(\\d+)/(\\d+)", "$2") != 1 %}
        {% if interface.portMode == "routed" %}
          {% if 'autoconf' in modeArray %}
 interface {{ interface.portName }}
  #INTERACTIVE
  access-session inherit disable autoconf<IQ>yes<R>y
  #END_INTERACTIVE 
          {% endif %}
          {% do intlog.append(interface.portName) %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}

{# if 'autoconf' in modeArray #}
  {% include "{{ TEMPLATE_PROJECT_NAME }}/FABRIC-SMARTPORT.j2" %}
{% endif %}

{#- System Variable example interfaces in one logical code construct -#}
{#- Select and Configure interfaces -#}
!
  {% for device in DEFN_L2OUT %}
    {% if device.node == DEVICE_HOSTNAME %}
      {% for interface, details in device.interfaces.items() %}
        {% for switchinterface in __interface %}
          {% if switchinterface.portName == interface %}
            {% if switchinterface.portName in intlog %}
            {% else %}
              {% if 'autoconf' in details.mode %}
 default interface {{ interface.portName }}
 interface {{ interface.portName }}
  {{ baseconf_interface() }}
                {% do intlog.append(switchinterface.portName) %}
              {% elif 'ibnsconf' in details.mode %}
 default interface {{ interface.portName }}
 interface {{ interface.portName }}
   {{ ibns_baseconf_interface() }}
                {% do intlog.append(switchinterface.portName) %}
              {% endif %}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% endif %}
  {% endfor %}

{% end of file %}